
<div class="row">
    <div class="col-12 col-md-12 col-sm-12">
      <label for="">Liste des districts</label>
   </div>
</div>
     
  <div class="row">     
       <div class="col-2 col-md-2 col-sm-2">
       <div class="input-group mb-2">
         <button class="btn btn-primary" [routerLink]="['/parametre/creer-district']" routerLinkActive="router-link-active" >
              nouveau district
         </button>
       </div>
     </div>
   </div>

   <div class="row ">
    <div class="col-md-10 col-sm-10">
     <div class="form-group">

      <div class="input-group">        
          <label  class="m-2" for="">Rechercher par zone </label>
          <select class="form-control mt-2" name="zone" [(ngModel)]="code_zone"
          (change)="getalldistrictParZone()">
            <option value="" disabled> Choisir une zone</option>
            <option *ngFor="let zone of datazone" value={{zone.code_zone}}>{{zone.libelle_zone}}</option>
          </select>   
          <button class="btn btn-success m-2" (click) = "actualiser()">Actualiser</button>
        </div>
   
     </div>    
     
    </div>
  </div>
   
   <div class="row">
  
     <div class=" col-10 col-md-10 col-sm-10">
       <div class="table-responsive">

        <table  class="table table-hover table-sm">
          <thead class="thead-dark ">
            <tr>
              <th scope="col">Code .</th>
              <th scope="col">Libellé</th>  
              <th scope="col">Longitude</th>  
              <th scope="col">Latitude</th>  
              <th scope="col">zone</th>  
              <th scope="col"></th>                      
            </tr>
          </thead>

          <tbody>  
              <tr  *ngFor="let district of datadistrict">               
                  <td><span>{{district.code_district}}</span></td>                  
                  <td>{{district.libelle_district}}</td>  
                  <td>{{district.longitude_district}}</td>   
                  <td>{{district.latitude_district}}</td>                 
                   <td>{{district.zone.libelle_zone}}</td>
                           
                  <td>
                      <tr class="float-right bg-transparent"> 
                        <td class="liste"> 
                          <button type="submit" [routerLink]="['/parametre/editer-district', district.code_district]"
                          routerLinkActive="router-link-active"
                          class="btn btn-success btn-xs">Editer</button>
                        </td>
                       <td class="liste">
                          <button type="button" 
                            routerLinkActive="router-link-active"  
                            class="btn btn-danger btn-xs"  (click)="openModal(templatesup,district.code_district)">Supprimer</button> 
                        </td>
                      </tr>                   
                  </td> 
                </tr> 
                <tr>
                    <th scope="col">Code .</th>
                    <th scope="col">Libellé</th>  
                    <th scope="col">Longitude</th>  
                    <th scope="col">Latitude</th>  
                    <th scope="col">zone</th>  
                    <th scope="col"></th>      
                </tr>  
          </tbody>
        </table> 
  
     
       <ng-template #templatesup>
            <div class="modal-body text-center">
              <p>Voulez-vous supprimer la zone avec pour <b>code</b> : <span class="text-info">{{code}}</span> </p>
              <button type="button" class="btn btn-default" (click)="confirm()">Oui</button>
              <button type="button" class="btn btn-primary" (click)="decline()">Non</button>
            </div>
        </ng-template>
       </div>
     </div>
  
   </div>


   <div class="row">
     <div class="col-md-6 col-sm-6 col-xl-10">
    
      <div class="row">
        <div class="col-xs-12 col-12">
          <pagination [totalItems]="66" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
       
      <pre class="card card-block card-header mb-3">
        Page changed to: {{page}}
      </pre>
   
   
    </div>
   </div>



  